/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* MOBILE SITE */
@media only screen and 
	(max-width: 320px) {
	.mobile-show {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	nav {
		display: block;
		margin: 0 auto;
		width: fit-content;
		height: fit-content;
		font-size: 90%;
		padding-top: 10px;
		padding-bottom: 40px;
	}

	ul {
		list-style-type: none;
	}

	nav ul li {
		display: inline-block;
		float: left;
		font-family: 'Heitic SC', 'Heiti TC', sans-serif;
		font-size: 14px;
		padding: 10px;
		color: #2A2A2A;
		font-weight: 800;
		text-shadow: 0px 3px 4px #ABABAB;
	}

	nav ul li a {
		color: #2A2A2A;
		text-decoration: none;
	}

	.current {
		color: #7544C2;
	}

	nav ul li a:hover {
		color: gray;
	}

}

@media only screen 
	and (min-width: 320px)
	and (max-width: 480px) {

	.mobile-show {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	header {
		width: 100%;
		height: fit-content;
	}

	header a img {
		width: 60px;
		display: block;
		margin: 0 auto;
		padding: 20px 0 10px 0;
	}

	header h2 {
		font-family: 'Heiti SC', 'Heiti TC', sans-serif;
		text-align: center;
		font-size: 24px;
		color: #542F8F;
		padding-top: 40px;
	}

	header h1 {
		font-family: 'Heiti SC', 'Heiti TC', sans-serif;
		text-align: center;
		font-size: 16px;
		color: #765BA1;
	}

	nav {
		display: block;
		margin: 0 auto;
		width: fit-content;
		height: fit-content;
		font-size: 90%;
		padding-top: 10px;
		padding-bottom: 40px;
	}

	ul {
		list-style-type: none;
	}

	nav ul li {
		display: inline-block;
		float: left;
		font-family: 'Heiti SC', 'Heiti TC', sans-serif;
		padding: 10px;
		color: #2A2A2A;
		font-weight: 800;
		text-shadow: 0px 3px 4px #ABABAB;
	}

	nav ul li a {
		color: #2A2A2A;
		text-decoration: none;
	}

	.current {
		color: #7544C2;
	}

	nav ul li a:hover {
		color: gray;
	}

	main div a img {
		height: fit-content;
	}

	main a {
		text-decoration: none;
	}

	main a h2 {
		font-size: 32px;
		text-align: center;
		font-family: 'Heiti SC', 'Heiti TC', sans-serif;
		display: block;
		color: #3A3A3A;
		padding: 20px 0 0 0;
	}

	main h1 {
		font-size: 16px;
		text-align: center;
		font-family: 'Poppins', 'Roboto', sans-serif;
		color: #4D0DAA;
		font-weight: 500;
		padding: 10px 50px;
		line-height: 22px;
		display: block;
	}

	#proj1-mobileimg {
		display: block;
		margin: 0 auto;
		width: 55%;
		padding: 10px 0;
	}

	#proj1-2border {
		width: 100%;
		height: 1px;
		display: block;
		background-color: #979797;
		margin: 50px auto;
	}

	#proj2-mobileimg {
		display: block;
		margin: 0 auto;
		width: 65%;
		padding: 10px 0;
	}

	footer {
		font-family: 'Heiti SC', 'Heiti TC', sans-serif;
	    background-color: #38145D;
	    width: 100vw;
	    margin: 0 auto;
	    display: block;
	    margin-top: 50px;
	}

	.footer-nav a {
	    font-size: 14px;
	    text-transform: uppercase;
	    text-align: center;
	    letter-spacing: 3px;
	    padding: 25px 0;
	    color: #fff;
	    display: block;
	    border-bottom: 0.25px solid #A7A7A7; 
	    text-decoration: none;
	}

	.footer-social {
	    display: block;
	    margin: 0 auto;
	    padding: 20px 0;
	    width: fit-content;
	}

	.footer-social a {
	    display: inline-block;
	    margin: 0 auto;
	}

	.footer-social img {
	    width: 40px;
	    height: 40px;
	    padding: 10px;
	}

	footer p {
	    font-size: 12px;
	    font-weight: 200;
	    text-align: center;
	    color: #fff;
	    padding: 10px 0 25px 0;
	}


} /* END MOBILE CODE */



/*  DESKTOP SITE  */ 
@media only screen 
	and (min-width: 750px) {		
		.mobile-show {
			display: none;
		}

		.mobile-hide {
			display: block;
		}

		body {
			font-family: 'Poppins', 'Roboto', sans-serif;
			margin: 0;
			line-height: 1;
		}

		nav {
			display: inline-block;
			float: right;
			margin: 20px 30px 5px 0;
			font-size: 75%;
		}

		ul {
			list-style-type: none;
		}

		nav ul li {
			font-family: 'Heiti SC', 'Heiti TC', sans-serif;
			display: inline-block;
			float: left;
			font-weight: 800;
			text-shadow: 0px 2px 4px #ABABAB;
			font-size: 100%;
			padding: 10px;
		}

		nav ul li a {
			color: #2A2A2A;
			font-weight: lighter;
			text-decoration: none;
		}

		nav ul li a:hover {
			color: gray;
		}

		.current {
			color: #7544C2;
		}


		main {
			/*margin-top: 50px;*/
		}

		#heroimage {
			width: 100vw;
		}

		#resume-section {
			width: 100%;
			background-color: #000;
			padding: 30px 0;
		}

		#resume-section p {
			padding: 20px 0;
			color: #fff;
			font-weight: 300;
			font-size: 16px;
			text-align: center;
			line-height: 24px;
		}

		#razer-img {
			width: 100px;
			margin: 0 auto;
			display: block;
			padding-top: 10px;
		}

		#resume-button {
			width: 200px;
			height: 60px;
			padding-top: 30px;
			margin: 0 auto;
			display: block;
		}

		main h4 {
			margin: 50px 0 30px 0;
			font-size: 60px;
			text-align: center;
		}

		#proj1-2border {
			width: 100%;
			height: 1px;
			display: block;
			background-color: #979797;
			margin: 50px auto;
		}

		main div a img {
			height: fit-content;
		}

		main a {
			text-decoration: none;
		}

		main a h2 {
			font-size: 36px;
			text-align: center;
			font-family: 'Heiti SC', 'Heiti TC', sans-serif;
			display: block;
			color: #3A3A3A;
			padding: 20px 0 0 0;
		}

		main h1 {
			font-size: 18px;
			text-align: center;
			font-family: 'Poppins', 'Roboto', sans-serif;
			color: #4D0DAA;
			font-weight: 500;
			padding: 10px 50px;
			line-height: 22px;
			display: block;
		}

		#proj1-desktopimg {
			display: block;
			margin: 0 auto;
			width: 55%;
			padding: 10px 0;
		}

		#proj2-desktopimg {
			display: block;
			margin: 0 auto;
			width: 55%;
			padding: 20px 0 10px 0;
		}

		main section {
			margin-top: 30px;
			width: 100%;
			background-color: #38145D;
			padding: 30px 0 40px 0;
		}

		#airplane {
			width: 90px;
			margin: 10px auto 30px auto;
			display: block;
		}

		main section h2 {
			font-size: 28px;
			color: #fff;
			font-weight: 500;
			text-align: center;
		}

		main section p {
			padding: 20px 0;
			color: #fff;
			font-weight: 300;
			font-size: 16px;
			text-align: center;
			line-height: 24px;
			margin: 0 50px;
		}

		#email-button {
			width: 200px;
			height: 60px;
			padding-top: 10px;
			margin: 0 auto;
			display: block;
		}

		#footer-social {
			width: fit-content;
			margin: 0 auto;
		}

		#footer-social a img {
			width: 60px;
			height: 60px;
			padding: 10px;
		}

		#footer-social a {
			text-decoration: none;
		}
}

